<div class="section-2" id="section-2">
    <div class="container">

        <h2 class="h2">Портфолио</h2>

        <div class="section-2__subtitle">
            Мы адаптируем нашу одежду под физические параметры, возраст, особенности и нужды детей, предусматриваем
            дополнительные застежки и детали на одежде, которые упрощают ежедневный уход за ребенком:
        </div>

        <ul class="section-2__grid">
            <li class="section-2__grid_item">
                <div class="section-2__grid_item_img">
                    <img src="../../assets/img/section-2__img-1.png" alt="">
                </div>
                <div class="section-2__grid_item_title">Боди до самых <br> больших размеров</div>
            </li>
            <li class="section-2__grid_item">
                <div class="section-2__grid_item_img">
                    <img src="../../assets/img/section-2__img-2.png" alt="">
                </div>
                <div class="section-2__grid_item_title">Брюки на молниях <br> и клёпках</div>
            </li>
            <li class="section-2__grid_item">
                <div class="section-2__grid_item_img">
                    <img src="../../assets/img/section-2__img-3.png" alt="">
                </div>
                <div class="section-2__grid_item_title">Боди и слипы с застёжками на груди для детей</div>
            </li>
            <li class="section-2__grid_item">
                <div class="section-2__grid_item_img">
                    <img src="../../assets/img/section-2__img-4.png" alt="">
                </div>
                <div class="section-2__grid_item_title">Нагрудные платки для детей с повышенной саливацией</div>
            </li>
        </ul>
        <!-- /.section-2__grid -->

        <div class="section-2__btn">
            <button class="btn btn-modal-call">Получить полный каталог</button>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.section-2 -->