<div class="header">
    <div class="container">

        <div class="header__block">

            <div class="header__left">
                <div class="header__logo">GTDDress+</div>
                <div class="header__logo_label">
                    Одежда для людей <br>
                    с особенностями развития
                </div>
            </div>

            <div class="header__right">
                <button class="header__btn btn-modal-call">Запросить консультацию</button>
                <ul class="header__info">
                    <li class="header__info_item">
                        <a href="mailto:gtdress1@gmail.com" class="header__info_mail">gtdress1@gmail.com</a>
                    </li>
                    <li class="header__info_item">
                        <a href="tel:+79178544818" class="header__info_tel">+7 (917) 854 48 18</a>
                        <a href="#" class="header__info_whatsapp">
                            <img src="../../assets/img/icons/whatsapp.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.header__block -->

    </div>
    <!-- /.container -->
</div>
<!-- /.header -->