<div class="section-5">
    <div class="container">

        <div class="section-5__block">
            <div class="section-5__block_text">
                <p>
                    Размерный ряд от 3 лет до взрослых ребят, <br>
                    то что Вы не встретите в обычном магазине
                </p>
                <p>Оптовые и розничные продажи</p>
                <p>
                    Дополнительные застежки и детали на одежде, <br>
                    которые упрощают ежедневный уход за ребенком
                </p>
                <p>Вся продукция сертифицирована</p>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /.section-5 -->