<div class="navigation">
    <div class="container">
        <nav class="navigation__list">
            <a href="#section-2" class="navigation__link js-anchor">портфолио</a>
            <a href="#section-3" class="navigation__link js-anchor">Преимущества</a>
            <a href="#section-4" class="navigation__link js-anchor">отзывы</a>
            <a href="#contacts" class="navigation__link js-anchor">Контакты</a>
        </nav>
        <!-- /.navigation__list -->
    </div>
</div>
<!-- /.navigation -->