<div class="section-4" id="section-4">
    <div class="container">

        <h2 class="h2">отзывы</h2>

        <div class="section-4__grid">
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_left">
                    <div class="section-4__grid_item_img">
                        <img src="../../assets/img/section-4__img-1.png" alt="">
                    </div>
                    <div class="section-4__grid_item_name">Кристина</div>
                </div>
                <div class="section-4__grid_item_right">
                    Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв
                </div>
            </div>
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_left">
                    <div class="section-4__grid_item_img">
                        <img src="../../assets/img/section-4__img-1.png" alt="">
                    </div>
                    <div class="section-4__grid_item_name">Кристина</div>
                </div>
                <div class="section-4__grid_item_right">
                    Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв
                </div>
            </div>
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_left">
                    <div class="section-4__grid_item_img">
                        <img src="../../assets/img/section-4__img-1.png" alt="">
                    </div>
                    <div class="section-4__grid_item_name">Кристина</div>
                </div>
                <div class="section-4__grid_item_right">
                    Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв
                </div>
            </div>
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_left">
                    <div class="section-4__grid_item_img">
                        <img src="../../assets/img/section-4__img-1.png" alt="">
                    </div>
                    <div class="section-4__grid_item_name">Кристина</div>
                </div>
                <div class="section-4__grid_item_right">
                    Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв
                </div>
            </div>
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_left">
                    <div class="section-4__grid_item_img">
                        <img src="../../assets/img/section-4__img-1.png" alt="">
                    </div>
                    <div class="section-4__grid_item_name">Кристина</div>
                </div>
                <div class="section-4__grid_item_right">
                    Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв
                </div>
            </div>
            <div class="section-4__grid_item">
                <div class="section-4__grid_item_left">
                    <div class="section-4__grid_item_img">
                        <img src="../../assets/img/section-4__img-1.png" alt="">
                    </div>
                    <div class="section-4__grid_item_name">Кристина</div>
                </div>
                <div class="section-4__grid_item_right">
                    Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв Отзыв
                </div>
            </div>
        </div>
        <!-- /.section-4__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-4 -->