<div class="section-3" id="section-3">
    <div class="container">

        <div class="section-3__grid">
            <div class="section-3__grid_item">
                Лучшее соотношение одежды <br>
                качественного пошива <br>
                за доступную цену
            </div>
            <div class="section-3__grid_item">
                Уникальная одежда <br>
                не имеющая аналогов
            </div>
            <div class="section-3__grid_item">
                По всей территории <br>
                России
            </div>
        </div>
        <!-- /.section-3__grid -->

    </div>
    <!-- /.container -->
</div>
<!-- /.section-3 -->