@media (max-width: 1200px) {

    // Customs
    .h2 {
        font-size: 25px;
    }

    // Header
    .header {
        padding: 15px 0;
    }
    .header__logo {
        margin-right: 20px;
    }
    .header__logo_label {
        font-size: 14px;
    }
    .header__btn {
        width: 220px;
        height: 48px;
        font-size: 14px;
    }
    .header__info_tel {
        font-size: 24px;
    }

    // Navigation
    .navigation {
        padding: 15px 0;
    }

    // Section 1
    .section-1__title {
        font-size: 24px;
    }

    // Section 2
    .section-2__grid {
        grid-gap: 30px;
    }
    .section-2__grid_item_title {
        margin-top: 15px;
    }

    // Section 3
    .section-3__grid {
        grid-gap: 30px;
    }
    .section-3__grid_item {
        font-size: 16px;
    }

    // Section 4
    .section-4__grid_item_right {
        padding-top: 10px;
        font-size: 14px;
    }

    // Section 5
    .section-5__block {
        padding: 60px 0 150px;
        background-size: 500px;
    }
    .section-5__block_text {
        font-size: 20px;
    }

    // Contacts
    .contacts__grid {
        grid-gap: 30px;
    }
    .contacts__info_tel {
        padding-right: 60px;
    }
    .contacts__info_whatsapp {
        width: 45px;
    }
    .contacts__form {
        padding: 40px 30px;
    }

}


@media (max-width: 992px) {

    // Customs
    .form__title {
        font-size: 22px;
    }
    .form__subtitle {
        font-size: 18px;
    }

    // Header
    .header__btn {
        display: none;
    }

    // Navigation
    .navigation__link {
        margin-right: 30px;
        font-size: 16px;
    }

    // Section 1
    .section-1__title {
        font-size: 20px;
    }

    // Section 2
    .section-2 {
        padding: 40px 0;
    }
    .section-2__grid {
        grid-gap: 15px;
    }
    .section-2__grid_item_title {
        margin-top: 5px;
        font-size: 14px;
    }

    // Section 3
    .section-3__grid {
        grid-gap: 15px;
        margin: 0 -20px;
        padding: 250px 20px 30px;
    }
    .section-3__grid_item {
        font-size: 12px;
    }

    // Section 4
    .section-4 {
        padding: 40px 0;
    }
    .section-4__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    // Section 5
    .section-5 {
        padding-bottom: 40px;
    }
    .section-5__block {
        padding: 30px 0 60px;
        background-size: contain;
    }

    // Contacts
    .contacts__form {
        padding: 30px 20px;
        .form {
            margin-top: 20px;
        }
    }
    .contacts__form_grid {
        grid-template-columns: 1fr;
    }
    .contacts__grid_left {
        padding-top: 40px;
    }
    .contacts__grid_right_block {
        padding: 20px 0;
    }

}


@media (max-width: 767.98px) {

    // Customs {
    .container {
        padding: 0 10px;
    }
    .label {
        font-size: 12px;
    }
    .input {
        margin-top: 5px;
    }
    .modal-call__form {
        width: 100%;
        max-width: 300px;
        padding: 30px 15px;
        box-sizing: border-box;
    }
    .h2 {
        font-size: 20px;
    }
    .form__block {
        padding: 25px 10px 30px;
    }
    .form__title {
        font-size: 16px;
    }
    .form__subtitle {
        font-size: 15px;
    }
    
    // Header
    .header {
        padding: 5px 0;
    }
    .header__right {
        display: none;
    }
    .header__logo {
        margin-right: 15px;
        font-size: 25px;
    }
    .header__logo_label {
        font-size: 10px;
    }

    // Navigation
    .navigation {
        display: none;
    }

    // Section 1
    .section-1__grid {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    // Section 2
    .section-2 {
        padding: 30px 0;
    }
    .section-2__subtitle {
        font-size: 13px;
    }
    .section-2__grid {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
    }

    // Section 3
    .section-3__grid {
        grid-template-columns: 1fr;
        margin: 0 -10px;
        padding: 25px 10px 30px;
        background: rgba($main, .9);
    }

    // Section 4
    .section-4 {
        padding: 30px 0;
    }
    .section-4__grid {
        grid-template-columns: 1fr;
    }
    .section-4__grid_item {
        grid-gap: 15px;
        padding: 15px 10px 20px;
    }
    .section-4__grid_item_right {
        font-size: 12px;
    }
    .section-4__grid_item_name {
        font-size: 13px;
    }

    // Section 5
    .section-5 {
        padding: 25px 0 15px;
        background-color: rgba($main, .9);
    }
    .section-5__block {
        padding: 0;
        background-image: none;
    }
    .section-5__block_text {
        font-weight: 400;
        font-size: 12px;
        color: $white;
    }
    .section-5__btn {
        width: 180px;
        height: 44px;
        margin-top: 30px;
        font-size: 12px;
    }

    // Contacts
    .contacts__grid {
        grid-template-columns: 1fr;
    }
    .contacts__info_item {
        margin-bottom: 20px;
    }
    .contacts__info_label {
        font-size: 14px;
    }
    .contacts__info_tel {
        padding-right: 0;
    }
    .contacts__info_tel_link {
        font-size: 20px;
    }
    .contacts__info_mail {
        font-size: 16px;
    }
    .contacts__info_whatsapp {
        right: auto;
        left: 185px;
    }
    .contacts__form {
        .form__subtitle {
            font-size: 15px;
        }
    }

}