.section-1 {
  padding: 35px 0 30px;
  background-image: url(../../assets/img/bg/section-1.jpg);
  background-position: center;
  background-size: cover;
}

.section-1__grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 50px;
  align-items: end;
}

.section-1__title {
  margin-bottom: 2em;
  font-weight: bold;
  font-size: 26px;
  color: $white;
  span {
    padding: 0.1em 0.6em;
    border-radius: 5px;
    background-color: #da8500;
  }
}